@media screen and(max-width: 500px) {
  .search {
    display: none;
  }

  .hamburger,
  .mobile_search {
    display: flex;
  }

  .nav__list {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 4em;
    position: absolute;
    top: 10em;
    right: 0;
    height: 40%;
  }

  .nav__item,
  .nav__btn {
    padding: 2em;
  }

  .search__field {
    max-width: 8rem;
  }

  .search__btn {
    padding: 0.8rem 0.8rem;
  }
}
