@media screen and(max-width: 500px) {
  .search {
    display: none;
  }

  .hamburger,
  .mobile_search {
    display: flex;
  }

  .nav__list {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 4em;
    position: absolute;
    top: 10em;
    right: 0;
    height: 40%;
  }

  .nav__item,
  .nav__btn {
    padding: 2em;
  }

  .search__field {
    max-width: 8rem;
  }

  .search__btn {
    padding: 0.8rem 0.8rem;
  }

  // .search-results {
  // }

  .recipe__details {
    padding: 9em 0em 3.2em 4em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .recipe__ingredients {
    padding: 5rem 4rem;
  }

  .btn--bookmark {
    margin-top: 1.4em;
  }

  .add-recipe-window {
    width: 38em;
  }

  .upload {
    grid-template-columns: 1fr;
  }

  .container {
    grid-template-areas:
      'head head'
      'list list'
      'recipe recipe';
  }

  .recipe__user-generated {
    margin: 2.6em 1.75rem 0 auto;
  }
}
